.navbar {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.navbar li {
    display: inline;
    list-style-type: none;
    padding: 0.25em;  
}

.image {
    margin: 5px;
    height: 128px;
    width: 128px;
    float: left;
    clear: left;
}

.box {
    border-style: double;
    border-width: 5px;
    border-color: black;
}

#copyright {
    margin: 20px;
    text-align: center;
}

.box {
    margin: 10px;
    float: left;
    width: 100%;
    clear: both;
}

.editbuttons {
    clear: both;
    text-align: center;
}

.editbuttons td {
    width: 300px; 
    margin: 0 auto;
}

.commentform {
    text-align: center;
}

.commentbox {
    margin: 10px;
    border-style: dotted;
    border-width: 1px;
    border-color: black;
}